<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Hello, world!</title>
</head>

<body >
<div id="header" th:replace="fragment :: #header">
  타임리프 렌더링시 제작된 헤더로 치환
  <hr>
</div>

<main class="container">
  <!--              1                                                         -->
  <div class="row mt-5 justify-content-center">
    <div class="col-6">
      <section class="recommendation">
        <!-- <div class="container"> -->
        <table class="table caption-top">
          <caption class="bg-black text-white">추천글 목록</caption>
          <thead class="table-dark">

          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
          </tbody>
        </table>
        <nav class="navbar navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"> 추천글 전체보기 ></a>
          </div>
        </nav>
        <!-- </div> -->
      </section>
    </div>
    <!--              2                                                         -->
    <div class="col">
      <div class="row-cols-6">
        <!-- <section class="recommendation"> -->
        <!-- <div class="container"> -->
        <table class="table caption-top">
          <caption class="bg-black text-white">추천글 목록</caption>
          <thead class="table-dark">

          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
          </tbody>
        </table>
        <nav class="navbar navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"> 추천글 전체보기 ></a>
          </div>
        </nav>
        <!-- </div> -->
        <!-- </section> -->
      </div>
      <!--              3                                                         -->

      <div class="row-cols-6">
        <!-- <section class="latest"> -->
        <!-- <div class="container"> -->
        <table class="table caption-top">
          <caption class="bg-black text-white">최신글 목록</caption>
          <thead class="table-dark">

          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
          </tbody>
        </table>
        <nav class="navbar navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"> 최신글 전체보기 ></a>
          </div>
        </nav>
        <!-- </div> -->
        <!-- </section> -->
      </div>
    </div>
  </div>

</main>

<!--<footer th:replace="header :: footer">-->
<!--  <hr>-->
<!--  타임리프 렌더링시 제작된 푸터로 치환-->
<!--</footer>-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>