<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>BARIBARI</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../../css/shopping/style.css" rel="stylesheet" />
    <!-- IBM Plex Sans KR font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../../css/shopping/noticelist.css">
    <link href="../../assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="../../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../../assets/css/style.css" rel="stylesheet">

    <title>BARIBARI</title>
</head>

<body>
    <!-- Header -->
    <header th:replace="header :: header"></header>
    <div id="noticeImg"></div>
    <div id="noticeMain">
        <h1>공지&이벤트</h1>
        <div class="search-container">
            <!--검색-->
            <form action="/notice/search" id="searchForm" method="get">
            <div id="search-label">
                <label>
                    <input type="radio" name="condition" value="title" checked>
                    제목
                </label>
                <label>
                    <input type="radio" name="condition" value="titleContent">
                    제목+내용
                </label>
                <label>
                    <input type="radio" name="condition" value="category">
                    분류
                </label>
            </div>
            <div>
                    <input type="text" id="searchKeyword" placeholder="검색어를 입력하세요." name="keyword">
                    <button type="submit">검색</button>
            </div>
            </form>
            </div>
        <table class="notice-table">
            <thead>
                <tr>
                    <th>NO.</th>
                    <th>Category</th>
                    <th>CONTENT</th>
                    <th>NAME</th>
                    <th>DATE</th>
                    <th>HITS</th>
                </tr>
            </thead>
            <tbody id="noticeList" th:each="notice : ${searchList}">
                <tr>
                    <td th:text="${notice.noticeNo }"></td>
                    <td th:text="${notice.noticeCategory }"></td>
                    <td><a th:href="@{'/notice/detail?noticeNo=' + ${notice.noticeNo}}"  th:text="${notice.noticeTitle }"></a></td>
                    <td th:text="${notice.userId }"></td>
                    <td th:text="${notice.noticeDate }"></td>
                    <td th:text="${notice.viewCount }"></td>
                </tr>
            </tbody>
        </table>

        <!-- 페이징 네비게이션 -->
        <div class="container px-4 px-lg-5 mt-5">
            <nav class="col md-12">
                <ul th:if="${pi.totalCount > 0}" class="pagination">
                    <!-- 첫 페이지 버튼 -->
                    <li th:if="${pi.currentPage > 1}" class="page-item">
                        <a th:href="@{/noticelist/list?(page=1)}" class="page-link">
                            <i class="fas fa-angle-double-left"></i>
                        </a>
                    </li>
                    <!-- 이전 페이지 버튼 -->
                    <li th:if="${pi.currentPage > 1}" class="page-item">
                        <a th:href="@{/notice/list?(page=${pi.currentPage} - 1)}" class="page-link">
                            <i class="fas fa-angle-left"></i>
                        </a>
                    </li>
                    <!-- 페이지 번호 버튼 -->
                    <li th:each="page : ${#numbers.sequence(pi.startNav, pi.endNav)}"
                        th:class="${page == pi.currentPage} ? 'active' : ''">
                        <a th:href="@{/notice/list(page=${page})}" th:text="${page}" class="page-link"></a>
                    </li>
                    <!-- 다음 페이지 버튼 -->
                    <li th:if="${pi.currentPage < pi.navTotalCount}" class="page-item">
                        <a th:href="@{/notice/list?(page=${pi.currentPage} + 1)}" class="page-link">
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                    <!-- 마지막 페이지 버튼 -->
                    <li th:if="${pi.currentPage < pi.navTotalCount}" class="page-item">
                        <a th:href="@{/notice/list?(page=${pi.navTotalCount})}" class="page-link">
                            <i class="fas fa-angle-double-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <script>

            // 필터링된 목록으로 테이블 내용을 대체
            while (noticeList1.firstChild) {
                noticeList1.removeChild(noticeList1.firstChild);
            }
            filteredList.forEach(row => {
                noticeList1.appendChild(row);
            });

        const radioButtons = searchForm.querySelectorAll('input[name="searchOption"]');
        const searchKeyword = searchForm.querySelector('#searchKeyword');

        radioButtons.forEach(radio => {
            radio.addEventListener('change', () => {
                searchKeyword.focus();
            });
        });



    </script>
    <!-- Footer -->
    <footer th:replace="footer :: footer"></footer>
</body>

</html>