<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminMapper">
    <select id="selectReportList" resultType="ReportList">
        SELECT R.REPORT_NO, SUBSTR(R.REPORT_CONTENT, 0, 30) AS REPORT_CONTENT, R.REPORT_CATEGORY_NO, R.REPORT_USER, R.REPORT_PROCESSING, R.REPORT_TARGET_NO, R.REPORT_TARGET_NAME, U.USER_NICKNAME, C.REPORT_CATEGORY_NAME, R.REPORT_DATE
        FROM REPORT_TBL R
        JOIN USER_TBL U ON R.REPORT_USER = U.USER_NO
        JOIN REPORT_CATEGORY_TBL C ON C.REPORT_CATEGORY_NO = R.REPORT_CATEGORY_NO
    </select>
    <select id="selectCommunityList" resultType="CommunityList">
        SELECT C.COMMUNITY_NO, TO_DATE(C.COMMUNITY_DATE, 'YYYY-MM-DD HH24:MI;SS') AS COMMUNITY_DATE, SUBSTR(C.COMMUNITY_SUBJECT,0,30) AS COMMUNITY_SUBJECT,C.VIEW_COUNT, CC.COMMUNITY_CATEGORY_NAME, U.USER_NICKNAME
        FROM COMMUNITY_TBL C
        JOIN COMMUNITY_CATEGORY_TBL CC ON C.COMMUNITY_CATEGORY = CC.COMMUNITY_CATEGORY_NO
        JOIN USER_TBL U ON C.USER_NO = U.USER_NO
        WHERE VIEW_COUNT > 30 AND COMMUNITY_DATE BETWEEN TO_CHAR(SYSDATE-7, 'YYYYMMDDHHMISS') AND TO_CHAR(SYSDATE, 'YYYYMMDDHHMISS')
    </select>
    <select id="selectQnaList" resultType="QnaList">
        SELECT Q.QNA_NO, SUBSTR(Q.QNA_CONTENT,0,30) AS QNA_CONTENT, Q.QNA_ANSWER_YN, Q.QNA_DATE, U.USER_NICKNAME
        FROM QNA_TBL Q
        JOIN USER_TBL U ON U.USER_NO = Q.USER_NO
        WHERE Q.QNA_CATEGORY = 1 AND Q.QNA_ANSWER_YN = 'N'
        ORDER BY QNA_DATE ASC
    </select>
    <select id="selectQnaListByAdmin" resultType="QnaList">
        SELECT Q.QNA_NO, SUBSTR(Q.QNA_CONTENT, 82) AS QNA_CONTENT, Q.QNA_ANSWER_YN, Q.QNA_DATE, U.USER_NICKNAME
        FROM QNA_TBL Q
                 JOIN USER_TBL U ON U.USER_NO = Q.USER_NO
        WHERE Q.QNA_CATEGORY = 1
        ORDER BY QNA_DATE DESC
    </select>

    <select id="selectQnaDetailByQnaNo" resultType="QnaList">
        SELECT Q.QNA_NO, Q.QNA_CONTENT, Q.QNA_ANSWER_YN, Q.QNA_DATE, U.USER_NICKNAME, A.ANSWER_CONTENT, A.ANSWER_NO, Q.QNA_PIC_1, Q.QNA_PIC_2
        FROM QNA_TBL Q
                 JOIN USER_TBL U ON U.USER_NO = Q.USER_NO
                 FULL JOIN ANSWER_TBL A ON Q.QNA_ANSWER_NO = A.ANSWER_NO
        WHERE Q.QNA_NO = #{qnaNo}
    </select>

    <select id="selectProductList" resultType="ProductList">
        SELECT SUBSTR(P.PRODUCT_NAME,0,30) AS PRODUCT_NAME, P.PRODUCT_NO, P.PRODUCT_BRAND, U.USER_NICKNAME, P.PRODUCT_SALES
        FROM PRODUCT_TBL P
        JOIN USER_TBL U ON P.SELLER_USER_NO = U.USER_NO
        WHERE P.PRODUCT_MD_YN = 'Y'
    </select>
    <select id="selectReportListByReportNo" resultType="ReportList">
        SELECT R.REPORT_NO, SUBSTR(R.REPORT_CONTENT, 0, 30) AS REPORT_CONTENT, R.REPORT_CATEGORY_NO, R.REPORT_USER, R.REPORT_PROCESSING, R.REPORT_TARGET_NO, R.REPORT_TARGET_NAME, U.USER_NICKNAME, C.REPORT_CATEGORY_NAME, R.REPORT_DATE,U.REPORT_COUNT
        FROM REPORT_TBL R
        JOIN USER_TBL U ON R.REPORT_USER = U.USER_NO
        JOIN REPORT_CATEGORY_TBL C ON C.REPORT_CATEGORY_NO = R.REPORT_CATEGORY_NO
        WHERE REPORT_NO = #{reportNo}
    </select>
    <select id="selectUserList" resultType="UserList">
        SELECT USER_NO, USER_ID, USER_NAME, USER_NICKNAME, USER_EMAIL, USER_PHONE, USER_DATE, USER_TYPE, REPORT_COUNT, USER_ABLE
        FROM USER_TBL
        WHERE USER_TYPE != 0
        ORDER BY USER_NO ASC
    </select>
    <select id="selectProductListByAdmin" resultType="ProductList">
        SELECT P.*, U.USER_NICKNAME
        FROM PRODUCT_TBL P
        JOIN USER_TBL U ON P.SELLER_USER_NO = U.USER_NO
        ORDER BY PRODUCT_NO ASC
    </select>


    <update id="updateUserBlock">
        UPDATE USER_TBL SET USER_ABLE = 'N' WHERE USER_NO = ${userNo}
    </update>
    <update id="updateUserUnBlock">
        UPDATE USER_TBL SET USER_ABLE = 'Y' WHERE USER_NO = ${userNo}
    </update>
    <update id="updateAnswerByAdmin" parameterType="QnaList">
        UPDATE ANSWER_TBL SET ANSWER_CONTENT = #{answerContent}, ANSWER_USER_NO = #{answerUserNo} WHERE ANSWER_NO = #{answerNo}
    </update>
    <update id="updateAnswerYn">
        UPDATE QNA_TBL SET QNA_ANSWER_YN = 'Y' WHERE QNA_ANSWER_NO = #{answerNo}
    </update>

    <update id="updateMdY">
        UPDATE PRODUCT_TBL SET PRODUCT_MD_YN = 'Y' WHERE PRODUCT_NO = #{productNo}
    </update>

    <update id="updateMdN">
        UPDATE PRODUCT_TBL SET PRODUCT_MD_YN = 'N' WHERE PRODUCT_NO = #{productNo}
    </update>
</mapper>
