<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ArticleHashtagMapper">

    <!-- Community Table -->
    <resultMap id="communityResultMap" type="Article">
        <id property="communityNo" column="COMMUNITY_NO"/>
        <result property="userNo" column="USER_NO"/>
        <result property="communitySubject" column="COMMUNITY_SUBJECT"/>
        <result property="communityContent" column="COMMUNITY_CONTENT"/>
        <result property="communityCategory" column="COMMUNITY_CATEGORY"/>
        <result property="communityDate" column="COMMUNITY_DATE"/>
        <result property="mapX" column="MAP_X"/>
        <result property="mapY" column="MAP_Y"/>
        <result property="communityYn" column="COMMUNITY_YN"/>
        <result property="viewCount" column="VIEW_COUNT"/>
    </resultMap>


    <resultMap id="articleHashtagResultMap" type="ArticleHashtag">
        <id property="communityNo" column="COMMUNITY_NO"/>
        <result property="hashtagName" column="HASH_TAG_NAME"/>
    </resultMap>

    <select id="findByHashtagName" resultMap="articleHashtagResultMap">
        SELECT * FROM HASH_TAG_TBL WHERE HASH_TAG_NAME = #{hashtagName}
    </select>

    <select id="findByHashtagNameIn" resultMap="articleHashtagResultMap">
        SELECT * FROM HASH_TAG_TBL WHERE HASH_TAG_NAME IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findById" resultMap="articleHashtagResultMap">
        SELECT * FROM HASH_TAG_TBL WHERE COMMUNITY_NO = #{communityNo}
    </select>

    <insert id="insertHashtag">
        INSERT INTO HASH_TAG_TBL (COMMUNITY_NO, HASH_TAG_NAME)
        VALUES (#{communityNo}, #{hashtagName})
    </insert>

    <update id="updateHashtag">
        UPDATE HASH_TAG_TBL
        SET HASH_TAG_NAME = #{hashtagName}
        WHERE COMMUNITY_NO = #{communityNo}
    </update>

    <delete id="delete">
        DELETE FROM HASH_TAG_TBL WHERE COMMUNITY_NO = #{communityNo} AND HASH_TAG_NAME = #{hashtagName}
    </delete>

    <select id="findAllHashtagNames">
        SELECT HASH_TAG_NAME FROM HASH_TAG_TBL
    </select>

</mapper>
