<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommunityMapper">
	<!-- 게시글 시퀀스넘버 미리 받아오기 -->
	<select id="getSEQ" resultType="_int">
		SELECT COMMUNITY_SEQ.NEXTVAL FROM DUAL
	</select>
	<!-- 게시글 수 가져오기 -->
	<select id="getBoardCount" resultType="_int">
		SELECT COUNT(*) FROM COMMUNITY_TBL C
		LEFT OUTER JOIN USER_TBL U ON C.USER_NO = U.USER_NO
		<if test="communityCategory == 0">
		WHERE C.COMMUNITY_CATEGORY = 0
		</if>
		<if test="communityCategory == 1">
		WHERE C.COMMUNITY_CATEGORY = 1
		</if>
		<if test="check == 0 or check == 1 or check == 2 ">
			<if test="communityCategory == 0 or communityCategory == 1">AND</if>
			<if test="communityCategory != 0 and  communityCategory != 1">WHERE</if>
			<if test="check == 0">
			C.COMMUNITY_SUBJECT LIKE '%' || #{keyword} || '%'
			</if>
			<if test="check == 1">
			C.COMMUNITY_CONTENT LIKE '%' || #{keyword} || '%'
			</if>
			<if test="check == 2">
			U.USER_NICKNAME LIKE '%' || #{keyword} || '%'
			</if>
		</if>
	</select>
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM LIKE_TBL WHERE COMMUNITY_NO = #{boardNo}
	</select>

	<select id="getBoardListAll" resultType="community">
		SELECT C.*, U.USER_NICKNAME, COUNT(L.USER_NO) AS LIKE_COUNT
		FROM COMMUNITY_TBL C
		LEFT OUTER JOIN USER_TBL U ON C.USER_NO = U.USER_NO
    	LEFT OUTER JOIN LIKE_TBL L ON C.COMMUNITY_NO = L.COMMUNITY_NO
		WHERE
		<if test="communityCategory == 0">
		COMMUNITY_CATEGORY = 0 AND
		</if>
		<if test="communityCategory == 1">
		COMMUNITY_CATEGORY = 1 AND
		</if>
		COMMUNITY_CATEGORY IN (0, 1)
		<if test="check == 0">
		AND C.COMMUNITY_SUBJECT LIKE '%' || #{keyword} || '%'
		</if>
		<if test="check == 1">
		AND C.COMMUNITY_CONTENT LIKE '%' || #{keyword} || '%'
		</if>
		<if test="check == 2">
		AND U.USER_NICKNAME LIKE '%' || #{keyword} || '%'
		</if>
		GROUP BY C.COMMUNITY_NO, C.USER_NO, C.COMMUNITY_SUBJECT, C.COMMUNITY_CONTENT, C.COMMUNITY_CATEGORY, C.COMMUNITY_DATE, C.MAP_X, C.MAP_Y, C.COMMUNITY_YN, C.VIEW_COUNT, U.USER_NICKNAME
		<if test="sort == 0">
		ORDER BY LIKE_COUNT DESC
		</if>
		<if test="sort == 1">
		ORDER BY COMMUNITY_DATE DESC
		</if>
		<if test="sort == 2">
		ORDER BY VIEW_COUNT DESC
		</if>
	</select>
	
	<select id="getBoardOne" resultType="community">
		SELECT * FROM COMMUNITY_TBL WHERE COMMUNITY_NO = #{boardNo}
	</select>
	
	<select id="getPhoto" resultType="communityPIC">
		SELECT * FROM COMMUNITY_PIC_TBL WHERE COMMUNITY_NO = #{boardNo}
	</select>
	
	<insert id="boardRegister">
		INSERT INTO COMMUNITY_TBL VALUES(
			#{communityNo},
			#{userNo},
			#{communitySubject},
			#{communityContent},
			#{communityCategory},
			DEFAULT,
			#{mapX},
			#{mapY},
			DEFAULT,
			DEFAULT)
	</insert>
	
	<insert id="registerPhoto">
		INSERT INTO COMMUNITY_PIC_TBL VALUES(
		#{communityNo}
		, <if test="communityPic1 != null">#{communityPic1}</if>
		<if test="communityPic1 == null">NULL</if>
		, <if test="communityPic2 != null">#{communityPic2}</if>
		<if test="communityPic2 == null">NULL</if>
		, <if test="communityPic3 != null">#{communityPic3}</if>
		<if test="communityPic3 == null">NULL</if>
		, <if test="communityPic4 != null">#{communityPic4}</if>
		<if test="communityPic4 == null">NULL</if>
		, <if test="communityPic5 != null">#{communityPic5}</if>
		<if test="communityPic5 == null">NULL</if>
		, <if test="communityPic6 != null">#{communityPic6}</if>
		<if test="communityPic6 == null">NULL</if>
		, <if test="communityPic7 != null">#{communityPic7}</if>
		<if test="communityPic7 == null">NULL</if>
		, <if test="communityPic8 != null">#{communityPic8}</if>
		<if test="communityPic8 == null">NULL</if>
		, <if test="communityPic9 != null">#{communityPic9}</if>
		<if test="communityPic9 == null">NULL</if>
		, <if test="communityPic10 != null">#{communityPic10}</if>
		<if test="communityPic10 == null">NULL</if>
		)
	</insert>
	
	<delete id="deletePhoto">
		DELETE FROM COMMUNITY_PIC_TBL WHERE COMMUNITY_NO = #{boardNo}
	</delete>

	<delete id="boardDelete">
		DELETE FROM COMMUNITY_TBL WHERE COMMUNITY_NO = #{boardNo}
	</delete>
	
	<update id="boardUpdate">
		UPDATE COMMUNITY_TBL SET
			COMMUNITY_SUBJECT = #{communitySubject}
			,COMMUNITY_CONTENT = #{communityContent}
			,COMMUNITY_CATEGORY = #{communityCategory}
			,MAP_X = #{mapX}
			,MAP_Y = #{mapY}
		WHERE COMMUNITY_NO = #{boardNo}
	</update>
	
	<update id="userPointUp">
		UPDATE USER_TBL SET
			USER_LEVEL_POINT = USER_LEVEL_POINT+5
		WHERE USER_NO = #{userNo}
	</update>
	
	<update id="plusViewCount">
		UPDATE COMMUNITY_TBL SET
			VIEW_COUNT = VIEW_COUNT+1
		WHERE COMMUNITY_NO = #{boardNo}
	</update>
</mapper>