<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommunityMapper">
	<resultMap type="Community" id="communityResultMap">
		<id		property="communityNo"			column="COMMUNITY_NO"		/>
		<result	property="communitySubject"		column="COMMUNITY_SUBJECT"	/>
		<result	property="communityContent"		column="COMMUNITY_CONTENT"	/>
		<result	property="communityCategory"	column="COMMUNITY_CATEGORY"	/>
		<result	property="communityDate"		column="COMMUNITY_DATE"		/>
		<result	property="mapX"					column="MAP_X"				/>
		<result	property="mapY"					column="MAP_Y"				/>
		<result	property="communityYn"			column="COMMUNITY_YN"		/>
		<result	property="userNo"				column="USE_RNO"			/>
		<result	property="viewCount"			column="VIEW_COUNT"			/>
	</resultMap>
	
	<resultMap type="CommunityPIC" id="communityPICResultMap">
		<id		property="communityNo"		column="COMMUNITY_NO"			/>
		<result	property="communityPic1"	column="COMMUNITY_PIC_1"		/>
		<result	property="communityPic2"	column="COMMUNITY_PIC_2"		/>
		<result	property="communityPic3"	column="COMMUNITY_PIC_3"		/>
		<result	property="communityPic4"	column="COMMUNITY_PIC_4"		/>
		<result	property="communityPic5"	column="COMMUNITY_PIC_5"		/>
		<result	property="communityPic6"	column="COMMUNITY_PIC_6"		/>
		<result	property="communityPic7"	column="COMMUNITY_PIC_7"		/>
		<result	property="communityPic8"	column="COMMUNITY_PIC_8"		/>
		<result	property="communityPic9"	column="COMMUNITY_PIC_9"		/>
		<result	property="communityPic10"	column="COMMUNITY_PIC_10"		/>
	</resultMap>
	
	<resultMap type="HashTag" id="HashTagResultMap">
		<id		property="communityNo"	column="COMMUNITY_NO"	/>
		<result	property="hashTag" 		column="HASH_TAG_NAME"	/>
	</resultMap>
	
	<select id="getSEQ">
		SELECT COMMUNITY_SEQ.NEXTVAL FROM DUAL
	</select>
	
	<select id="getHashTag" resultMap="HashTagResultMap">
		SELECT HASH_TAG_NAME FROM HASH_TAG_TBL WHERE COMMUNITY_NO = #{boardNo}
	</select>
	
	<insert id="registerHashTag">
		INSERT INTO HASH_TAG_TBL VALUES(#{communityNo}, #{hashTag})
	</insert>
	
	<insert id="boardRegister">
		INSERT INTO COMMUNITY_TBL VALUES(
			#{communityNo},
			#{communitySubject},
			#{communityContent},
			#{communityCategory},
			DEFAULT,
			#{mapX},
			#{mapY},
			DEFAULT,
			#{userNo},
			DEFAULT,
			DEFAULT
		)
	</insert>
	
	<select id="getBoardCount" resultType="_int">
		SELECT COUNT(*) FROM COMMUNITY_TBL WHERE COMMUNITY_CATEGORY IN (0,1)
	</select>
	
	<select id="getBoardListAll" resultMap="communityResultMap">
		SELECT * FROM COMMUNITY_TBL WHERE 
		<if test="category == 0">
		COMMUNITY_CATEGORY = 0 AND
		</if>
		<if test="category == 1">
		COMMUNITY_CATEGORY = 1 AND
		</if>
		COMMUNITY_CATEGORY IN (0, 1)
	</select>
	
	<select id="getListCount">
		SELECT COUNT(*) FROM LIKE_TBL WHERE COMMUNITY_NO = #{boardNo}
	</select>
</mapper>