<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommunityMapper">
	
	<select id="getSEQ" resultType="_int">
		SELECT COMMUNITY_SEQ.NEXTVAL FROM DUAL
	</select>
	
	<select id="getHashTag" resultType="HashTag">
		SELECT HASH_TAG_NAME FROM HASH_TAG_TBL WHERE COMMUNITY_NO = #{boardNo} ORDER BY HASH_TAG_NAME DESC
	</select>
	
	<insert id="registerHashTag">
		INSERT INTO HASH_TAG_TBL VALUES(#{communityNo}, #{hashTagName})
	</insert>
	
	<delete id="deleteHashTag">
		DELETE FROM HASH_TAG_TBL WHERE COMMUNITY_NO = #{communityNo} AND HASH_TAG_NAME = #{hashTagName}
	</delete>
	
	<insert id="boardRegister">
		INSERT INTO COMMUNITY_TBL VALUES(
			#{communityNo},
			#{userNo},
			#{communitySubject},
			#{communityContent},
			#{communityCategory},
			DEFAULT,
			#{mapX},
			#{mapY},
			DEFAULT,
			DEFAULT)
	</insert>
	
	<select id="getBoardCount" resultType="_int">
		SELECT COUNT(*) FROM COMMUNITY_TBL WHERE COMMUNITY_CATEGORY IN (0,1)
	</select>
	
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM LIKE_TBL WHERE COMMUNITY_NO = #{boardNo}
	</select>

	<select id="getBoardListAll" resultType="community">
		SELECT * FROM COMMUNITY_TBL WHERE 
		<if test="category == 0">
		COMMUNITY_CATEGORY = 0 AND
		</if>
		<if test="category == 1">
		COMMUNITY_CATEGORY = 1 AND
		</if>
		COMMUNITY_CATEGORY IN (0, 1)
	</select>
</mapper>