<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="HashtagMapper">
	<insert id="registerHashTag">
		INSERT INTO HASH_TAG_TBL VALUES(#{hashTagName}, #{communityNo})
	</insert>
    
    <select id="getHashTag" resultType="hashTag">
		SELECT * FROM HASH_TAG_TBL WHERE COMMUNITY_NO = #{boardNo}
    </select>

    <delete id="deleteHashTag">
        DELETE FROM HASH_TAG_TBL WHERE COMMUNITY_NO = #{communityNo} AND HASH_TAG_NAM = #{hashTagName}
    </delete>
</mapper>