<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="NoticeMapper">
	<resultMap type="Notice" id="NoticeResultMap">
		<id		property="noticeNo"			column="NOTICE_NO"/>
		<result	property="noticeCategory"	column="NOTICE_CATEGORY"/>
		<result	property="noticeTitle"		column="NOTICE_TITLE"/>
		<result	property="userId"			column="USER_ID"/>
		<result	property="noticeContent"	column="NOTICE_CONTENT"/>
		<result	property="noticeDate"		column="NOTICE_DATE"/>
		<result	property="noticeUpdate"		column="NOTICE_UPDATE"/>
	</resultMap>
	
	<!-- notice 목록 -->
	<select id="selectNoticeList" parameterType="_int">
		SELECT * FROM NOTICE_TBL ORDER BY NOTICE_NO DESC
	</select>
	
	<!-- notice 게시물 전체 개수 -->
	<select id="noticeListCount" parameterType="_int">
		SELECT COUNT(*) FROM NOTICE_TBL
	</select>
</mapper>