<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductMapper">
	<resultMap type="Product" id="productResultMap">
		<id		property="productNo" column="PRODUCT_NO"/>
		<result	property="productCategory" column="PRODUCT_CATEGORY"/>
		<result	property="productBrand" column="PRODUCT_BRAND"/>
		<result	property="productName" column="PRODUCT_NAME"/>
		<result	property="productPrice" column="PRODUCT_PRICE"/>
		<result	property="productContent" column="PRODUCT_CONTENT"/>
		<result	property="productMdYn" column="PRODUCT_MD_YN"/>
		<result	property="productSales" column="PRODUCT_SALES"/>
		<result	property="productHashTag" column="PRODUCT_HASHTAG"/>
		<result	property="productDiscount" column="PRODUCT_DISCOUNT"/>
		<result	property="sellerUserNo" column="SELLER_USER_NO"/>
		<result	property="productPic1" column="PRODUCT_PIC_1"/>
		<result	property="productPic2" column="PRODUCT_PIC_2"/>
		<result	property="productPic3" column="PRODUCT_PIC_3"/>
		<result	property="productPic4" column="PRODUCT_PIC_4"/>
	</resultMap>
    
    <!-- 총 상품수 -->
    <select id="getProductCount" parameterType="string" resultType="_int">
    	SELECT COUNT(*) FROM PRODUCT_TBL
    	<if test="productCategory != 'All'">
    		WHERE PRODUCT_CATEGORY = #{productCategory}
    	</if>
    </select>
	
	<!-- 상품 목록 -->
    <select id="getProductList" parameterType="string" resultMap="productResultMap">
        SELECT * FROM PRODUCT_TBL LEFT JOIN PRODUCT_PIC_TBL USING (PRODUCT_NO)
    	<if test="productCategory != 'All'">
    		WHERE PRODUCT_CATEGORY = #{productCategory}
    	</if>
    	ORDER BY PRODUCT_NO DESC
    </select>
    
    <!-- 검색된 상품 목록 -->
    <select id="getProductSearchList" parameterType="Search" resultMap="productResultMap">
        SELECT * FROM PRODUCT_TBL LEFT JOIN PRODUCT_PIC_TBL USING (PRODUCT_NO)
    	<if test="productCategory != 'All'">
    		WHERE PRODUCT_CATEGORY = #{productCategory}
    	</if> 
    	ORDER BY PRODUCT_NO DESC
    </select>
    
    <!-- 상품 상세 정보 -->
    <select id="getProductDetail" parameterType="_int" resultMap="productResultMap">
    	SELECT * FROM PRODUCT_TBL LEFT JOIN PRODUCT_PIC_TBL USING (PRODUCT_NO) WHERE PRODUCT_NO = #{productNo}
    </select>
    
    <!-- 상품 분류에 따른 추천 상품 목록: 1순위 - 같은 카테고리, 2순위 - 판매량 -->
    <select id="getProductRecommendList" parameterType="string" resultMap="productResultMap">
  		SELECT * FROM (
  			SELECT * FROM PRODUCT_TBL WHERE PRODUCT_CATEGORY = #{productCategory}
  			UNION ALL
  			SELECT * FROM PRODUCT_TBL WHERE PRODUCT_CATEGORY != #{productCategory}
  		)
  		WHERE ROWNUM &lt;= 6
  		ORDER BY CASE WHEN PRODUCT_CATEGORY = #{productCategory} THEN 0 ELSE 1 END, PRODUCT_SALES DESC
	</select>
      
    <!-- 헤더에서 검색한 상품의 수 -->
    <select id="getProductCountByKeyword" parameterType="Search" resultType="_int">
		SELECT COUNT(*) FROM PRODUCT_TBL WHERE PRODUCT_NAME LIKE '%' || #{keyword} || '%' OR PRODUCT_CATEGORY LIKE '%' || #{keyword} || '%' ORDER BY PRODUCT_NO DESC
    </select>
    
   	<!-- 상품 목록 -->
    <select id="getProductListByKeyword" parameterType="Search" resultMap="productResultMap">
        SELECT * FROM PRODUCT_TBL LEFT JOIN PRODUCT_PIC_TBL USING (PRODUCT_NO) WHERE PRODUCT_NAME LIKE '%' || #{keyword} || '%' OR PRODUCT_CATEGORY LIKE '%' || #{keyword} || '%' ORDER BY PRODUCT_NO DESC
    </select>
    
    <!-- 판매량이 높은 상품 목록 (메인 게시용, 12개까지) -->
    <select id="getProductListBySales" resultMap="productResultMap">
    	SELECT * FROM PRODUCT_TBL LEFT JOIN PRODUCT_PIC_TBL USING (PRODUCT_NO) WHERE ROWNUM &lt;= 12 ORDER BY PRODUCT_SALES
    </select>
    
</mapper>
