<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductMapper">
	<resultMap type="Product" id="productResultMap">
		<id		property="productNo" column="PRODUCT_NO"/>
		<result	property="productCategory" column="PRODUCT_CATEGORY"/>
		<result	property="productBrand" column="PRODUCT_BRAND"/>
		<result	property="productName" column="PRODUCT_NAME"/>
		<result	property="productPrice" column="PRODUCT_PRICE"/>
		<result	property="productContent" column="PRODUCT_CONTENT"/>
		<result	property="productMdYn" column="PRODUCT_MD_YN"/>
		<result	property="productSales" column="PRODUCT_SALES"/>
		<result	property="productHashTag" column="PRODUCT_HASH_TAG"/>
		<result	property="productDiscount" column="PRODUCT_DISCOUNT"/>
		<result	property="productDeliveryCharge" column="PRODUCT_DELIVERY_CHARGE"/>
		<result	property="sellerUserNo" column="SELLER_USER_NO"/>
		<result	property="productPic1" column="PRODUCT_PIC_1"/>
		<result	property="productPic2" column="PRODUCT_PIC_2"/>
		<result	property="productPic3" column="PRODUCT_PIC_3"/>
		<result	property="productPic4" column="PRODUCT_PIC_4"/>
	</resultMap>
    
    <!-- 총 상품수 -->
    <select id="getProductCount" parameterType="string" resultType="_int">
    	SELECT COUNT(*) FROM PRODUCT_TBL
    	<if test="productCategory != 'All'">
    		WHERE PRODUCT_CATEGORY = #{productCategory}
    	</if>
    </select>
	
	<!-- 상품 목록 -->
    <select id="getProductList" parameterType="string" resultMap="productResultMap">
        SELECT * FROM PRODUCT_TBL LEFT JOIN PRODUCT_PIC_TBL USING (PRODUCT_NO)
    	<if test="productCategory != 'All'">
    		WHERE PRODUCT_CATEGORY = #{productCategory}
    	</if>
    	ORDER BY PRODUCT_NO DESC
    </select>
    
    <!-- 검색된 상품 목록 -->
    <select id="getProductSearchList" parameterType="Search" resultMap="productResultMap">
        SELECT * FROM PRODUCT_TBL LEFT JOIN PRODUCT_PIC_TBL USING (PRODUCT_NO)
    	<if test="productCategory != 'All'">
    		WHERE PRODUCT_CATEGORY = #{productCategory}
    	</if> 
    	ORDER BY PRODUCT_NO DESC
    </select>
    
    <!-- 상품 상세 정보 -->
    <select id="getProductDetail" parameterType="_int" resultMap="productResultMap">
    	SELECT * FROM PRODUCT_TBL LEFT JOIN PRODUCT_PIC_TBL USING (PRODUCT_NO) WHERE PRODUCT_NO = #{productNo}
    </select>
    
    <!-- 상품 분류에 따른 추천 상품 목록: 1순위 - 같은 카테고리, 2순위 - 판매량 -->
    <select id="getProductRecommendList" parameterType="string" resultMap="productResultMap">
  		SELECT * FROM (
  			SELECT * FROM PRODUCT_TBL WHERE PRODUCT_CATEGORY = #{productCategory}
  			UNION ALL
  			SELECT * FROM PRODUCT_TBL WHERE PRODUCT_CATEGORY != #{productCategory}
  		)
  		WHERE ROWNUM &lt;= 6
  		ORDER BY CASE WHEN PRODUCT_CATEGORY = #{productCategory} THEN 0 ELSE 1 END, PRODUCT_SALES DESC
	</select>
      
    <!-- 헤더에서 검색한 상품의 수 -->
    <select id="getProductCountByKeyword" parameterType="Search" resultType="_int">
		SELECT COUNT(*) FROM PRODUCT_TBL WHERE PRODUCT_NAME LIKE '%' || #{keyword} || '%' OR PRODUCT_CATEGORY LIKE '%' || #{keyword} || '%' ORDER BY PRODUCT_NO DESC
    </select>
    
   	<!-- 상품 목록 -->
    <select id="getProductListByKeyword" parameterType="Search" resultMap="productResultMap">
        SELECT * FROM PRODUCT_TBL LEFT JOIN PRODUCT_PIC_TBL USING (PRODUCT_NO) WHERE PRODUCT_NAME LIKE '%' || #{keyword} || '%' OR PRODUCT_CATEGORY LIKE '%' || #{keyword} || '%' ORDER BY PRODUCT_NO DESC
    </select>
    
    <!-- 판매량이 높은 상품 목록 (메인 게시용, 12개까지) -->
    <select id="getProductListBySales" resultMap="productResultMap">
    	SELECT * FROM PRODUCT_TBL LEFT JOIN PRODUCT_PIC_TBL USING (PRODUCT_NO) WHERE ROWNUM &lt;= 20 ORDER BY PRODUCT_SALES
    </select>
    
    <!-- 상품 등록 -->
    <insert id="insertProduct" parameterType="Product">
    	INSERT INTO PRODUCT_TBL VALUES (SEQ_PRODUCT_NO.NEXTVAL, #{productName}, #{productPrice}, #{productContent}, DEFAULT, DEFAULT, #{productHashTag}, #{productDiscount}, #{sellerUserNo}, #{productCategory}, #{productBrand}, #{productDeliveryCharge})
    </insert>
    <!-- 상품 사진 등록 --> 
    <insert id="insertProductPic" parameterType="Product">
    	INSERT INTO PRODUCT_PIC_TBL VALUES (
    	SEQ_PRODUCT_NO.CURRVAL
    	, <if test="productPic1 != null">#{productPic1}</if><if test="productPic1 == null">NULL</if>
    	, <if test="productPic2 != null">#{productPic2}</if><if test="productPic2 == null">NULL</if>
    	, <if test="productPic3 != null">#{productPic3}</if><if test="productPic3 == null">NULL</if>
    	, <if test="productPic4 != null">#{productPic4}</if><if test="productPic4 == null">NULL</if>
    	)
    </insert>
    
    <!-- 상품 삭제 -->
    <delete id="deleteProduct" parameterType="_int">
    	DELETE FROM PRODUCT_TBL WHERE PRODUCT_NO = #{productNo}
    </delete>
    
    <!-- MD 추천상품 목록 -->
    <select id="getMdRecommendProductList" resultMap="productResultMap">
    	SELECT * FROM PRODUCT_TBL LEFT JOIN PRODUCT_PIC_TBL USING (PRODUCT_NO) WHERE PRODUCT_MD_YN = 'Y'
    </select>
    
    <!-- MD 상품 추천 -->
    <update id="mdRecommend" parameterType="Product">
    	UPDATE PRODUCT_TBL SET PRODUCT_MD_YN = 
		    CASE PRODUCT_MD_YN 
		        WHEN 'Y' THEN 'N'
		        WHEN 'N' THEN 'Y'
		        ELSE PRODUCT_MD_YN
		    END
		WHERE PRODUCT_NO = #{productNo}
    </update>
    
    <!-- 찜하기 추가 -->
    <insert id="addScrap" parameterType="Product">
    	INSERT INTO FAVORITE_TBL VALUES (#{productNo}, #{userNo})
    </insert>
    
    <!-- 찜하기 제거 -->
    <delete id="removeScrap" parameterType="Product">
    	DELETE FROM FAVORITE_TBL WHERE PRODUCT_NO = #{productNo} AND USER_NO = #{userNo}
    </delete>
    
   	<!-- 찜하기 목록 -->
   	<select id="getFavoriteList" resultType="Favorite">
   		SELECT * FROM FAVORITE_TBL WHERE USER_NO = #{userNo}
   	</select>
   	
   	<!-- 판매자가 판매하고 있는 상품 목록 -->
    <select id="getProductListBySeller" parameterType="_int" resultMap="productResultMap">
        SELECT * FROM PRODUCT_TBL LEFT JOIN PRODUCT_PIC_TBL USING (PRODUCT_NO) WHERE SELLER_USER_NO = #{userNo} ORDER BY PRODUCT_NO DESC
    </select>
    
    <update id="modifyProduct">
    	UPDATE PRODUCT_TBL
    		SET PRODUCT_NAME = #{productName}, PRODUCT_PRICE = #{productPrice}, PRODUCT_CONTENT = #{productContent}
    		, PRODUCT_HASH_TAG = #{productHashTag}, PRODUCT_DISCOUNT = #{productDiscount}, PRODUCT_CATEGORY = #{productCategory}
    		, PRODUCT_BRAND = #{productBrand}, PRODUCT_DELIVERY_CHARGE = #{productDeliveryCharge}
    		WHERE PRODUCT_NO = #{productNo} 
    </update>
    <update id="modifyProductPic">
		UPDATE PRODUCT_PIC_TBL
		SET 
		    PRODUCT_PIC_1 = CASE WHEN #{productPic1} IS NULL OR #{productPic1} = '' THEN PRODUCT_PIC_1 ELSE #{productPic1} END,
		    PRODUCT_PIC_2 = CASE WHEN #{productPic2} IS NULL OR #{productPic2} = '' THEN PRODUCT_PIC_2 ELSE #{productPic2} END,
		    PRODUCT_PIC_3 = CASE WHEN #{productPic3} IS NULL OR #{productPic3} = '' THEN PRODUCT_PIC_3 ELSE #{productPic3} END,
		    PRODUCT_PIC_4 = CASE WHEN #{productPic4} IS NULL OR #{productPic4} = '' THEN PRODUCT_PIC_4 ELSE #{productPic4} END
		WHERE PRODUCT_NO = #{productNo}
    </update>
    
    <select id="getFavorite" resultType="_int">
    	SELECT COUNT(*) FROM FAVORITE_TBL WHERE PRODUCT_NO = #{productNo} AND USER_NO = #{userNo}
    </select>
    <insert id="addFavorite">
    	INSERT INTO FAVORITE_TBL VALUES (#{productNo}, #{userNo})
    </insert>
    <delete id="removeFavorite">
    	DELETE FROM FAVORITE_TBL WHERE PRODUCT_NO = #{productNo} AND USER_NO = #{userNo}
    </delete>
</mapper>
