<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qCommentMapper">
	<resultMap type="QnaComment" id="qCommentMapper">
		<id property="commentNo" column="COMMENT_NO"/>
		<result property="productNo" column="PRODUCT_NO"/>
		<result property="userNo" column="USER_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="commentContent" column="COMMENT_CONTENT"/>
	</resultMap>
	<insert id="qcommentRegister">
		INSERT INTO SP_COMMENT_TBL VALUES(
			COMMENT_SEQ.NEXTVAL, #{commentNo}, #{userNo}, #{userId}, #{commentContent})
	</insert>
	
	<delete id="qcommentDelete">
		DELETE FROM SP_COMMENT_TBL WHERE COMMENT_NO = #{commentNo}
	</delete>

</mapper>