<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReviewMapper">
	<resultMap type="Review" id="reviewResultMap">
		<id		property="reviewNo" column="REVIEW_NO"/>
		<result	property="reviewContent" column="REVIEW_CONTENT"/>
		<result	property="userNo" column="USER_NO"/>
		<result	property="userId" column="USER_ID"/>
		<result property="userName" column="USER_NAME"/>
		<result	property="reviewPic1" column="REVIEW_PIC_1"/>
		<result	property="reviewPic2" column="REVIEW_PIC_2"/>
		<result	property="reviewPic3" column="REVIEW_PIC_3"/>
		<result	property="reviewPic4" column="REVIEW_PIC_4"/>
		<result	property="reviewPic5" column="REVIEW_PIC_5"/>
	</resultMap>
    
	<!-- 해당 제품에 대한 후기 목록 (첨부 사진 및 사용자 정보 포함) -->
	<select id="getReviewList" parameterType="_int" resultMap="reviewResultMap">
	    SELECT * FROM REVIEW_TBL
	    LEFT JOIN REVIEW_PIC_TBL USING (REVIEW_NO)
	    LEFT JOIN USER_TBL USING (USER_NO)
	    WHERE REVIEW_TBL.PRODUCT_NO = #{productNo} ORDER BY REVIEW_NO DESC
	</select>

	<!-- 해당 제품에 대한 후기 등록 -->
	<insert id="registerReview" parameterType="Review">
		INSERT INTO REVIEW_TBL VALUES (SEQ_REVIEW_NO.NEXTVAL, #{reviewContent}, #{productNo}, #{userNo}, DEFAULT)
	</insert>
	
	<!-- 첨부 사진이 있을 경우 사진 등록 (파일이 없을 경우 NULL값이 들어감) -->
	<insert id="registerReviewPictures" parameterType="Review">
		INSERT INTO REVIEW_PIC_TBL VALUES (
			SEQ_REVIEW_NO.CURRVAL
			, <if test="reviewPic1 != null">#{reviewPic1}</if><if test="reviewPic1 == null">NULL</if>
			, <if test="reviewPic2 != null">#{reviewPic2}</if><if test="reviewPic2 == null">NULL</if>
			, <if test="reviewPic3 != null">#{reviewPic3}</if><if test="reviewPic3 == null">NULL</if>
			, <if test="reviewPic4 != null">#{reviewPic4}</if><if test="reviewPic4 == null">NULL</if>
			, <if test="reviewPic5 != null">#{reviewPic5}</if><if test="reviewPic5 == null">NULL</if>
			, #{productNo})
	</insert>
	
	<!-- 사진테이블에 등록에 필요한 ReviewNo -->
	<select id="getReviewNo" parameterType="Review" resultType="_int">
		SELECT SEQ_REVIEW_NO.CURRVAL FROM DUAL
	</select>
	
	<!-- 해당 제품에 대한 후기 갯수 -->
	<select id="getReviewCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM REVIEW_TBL WHERE PRODUCT_NO = #{productNo}
	</select>
	
	<!-- 해당 제품에 대한 후기 삭제 -->
	<delete id="removeReview" parameterType="Review">
		DELETE FROM REVIEW_TBL WHERE REVIEW_NO = #{reviewNo} AND USER_NO = #{userNo}
	</delete>
	
	<!-- 해당 제품에 대한 후기 -->
	<select id="getReview" parameterType="Review" resultType="Review">
		SELECT * FROM REVIEW_TBL LEFT JOIN REVIEW_PIC_TBL USING (REVIEW_NO) WHERE REVIEW_NO = #{reviewNo}
	</select>
	
	<!-- 모든 후기 목록 (첨부 사진 및 사용자 정보 포함) -->
	<select id="getAllReviewList" parameterType="_int" resultMap="reviewResultMap">
	    SELECT * FROM REVIEW_TBL
	    LEFT JOIN REVIEW_PIC_TBL USING (REVIEW_NO)
	    LEFT JOIN USER_TBL USING (USER_NO)
	    ORDER BY REVIEW_NO DESC
	</select>
</mapper>