<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
    <select id="selectIdCheck" resultType="User">
        SELECT USER_ID FROM USER_TBL WHERE USER_ID = #{id}
    </select>
    <select id="selectNickNameCheck" resultType="User">
        SELECT USER_NICKNAME FROM USER_TBL WHERE USER_NICKNAME = #{nickName}
    </select>

    <insert id="insertUserByUser" parameterType="User">
        INSERT INTO USER_TBL VALUES(SEQ_USER_NO.NEXTVAL,#{userId},#{userPw},#{userName},#{userNickName},#{userEmail},#{userPhone},SYSTIMESTAMP, 1, DEFAULT, DEFAULT, DEFAULT, DEFAULT, 'USER')
    </insert>
    <insert id="insertUserBySeller" parameterType="User">
        INSERT INTO USER_TBL VALUES(SEQ_USER_NO.NEXTVAL,#{userId},#{userPw},#{userName},#{userNickName},#{userEmail},#{userPhone},SYSTIMESTAMP, 2, DEFAULT, DEFAULT, DEFAULT, DEFAULT, 'MANAGER')
    </insert>

</mapper>
