<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
    <select id="selectIdCheck" resultType="User">
        SELECT USER_ID
        FROM USER_TBL
        WHERE USER_ID = #{id}
    </select>
    <select id="selectNickNameCheck" resultType="User">
        SELECT USER_NICKNAME
        FROM USER_TBL
        WHERE USER_NICKNAME = #{nickName}
    </select>
    <select id="findByUserId" resultType="User">
        SELECT *
        FROM USER_TBL
        WHERE USER_ID = #{userId}
    </select>
    <select id="findByUserNo" resultType="Role">
        SELECT *
        FROM ROLE_TBL
        WHERE USER_NO = #{userNo}
    </select>
<!-- 유저 마이페이지 데이터 -->
    <select id="selectUserLevel" resultType="UserMyPageData">
        WITH level_info AS (
        SELECT LEVEL_NO, LEVEL_MIN_POINT, LEVEL_MAX_POINT
        FROM (
        SELECT LEVEL_NO, LEVEL_MIN_POINT, LEVEL_MAX_POINT, ROWNUM RN
        FROM (
        SELECT LEVEL_NO, LEVEL_MIN_POINT, LEVEL_MAX_POINT
        FROM LEVEL_TBL
        WHERE LEVEL_MIN_POINT  &lt; (
        SELECT USER_LEVEL_POINT
        FROM USER_TBL
        WHERE USER_NO = #{levelNo}
        )
        ORDER BY LEVEL_MIN_POINT DESC
        )
        WHERE ROWNUM = 1
        )
        WHERE RN = 1
        ),
        order_info AS (
        SELECT COUNT(CASE WHEN ORDER_STATUS = 0 THEN 1 END) AS PAYMENT,
        COUNT(CASE WHEN ORDER_STATUS = 1 THEN 1 END) AS READY,
        COUNT(CASE WHEN ORDER_STATUS = 2 THEN 1 END) AS LOGISTIC,
        COUNT(CASE WHEN ORDER_STATUS = 3 THEN 1 END) AS COMPLETE,
        POINT_VAL
        FROM ORDER_DETAIL_TBL A JOIN ORDER_TBL B ON A.ORDER_NO = B.ORDER_NO JOIN POINT_TBL P ON P.USER_NO = B.USER_NO
        WHERE P.USER_NO = #{levelNo}
        GROUP BY POINT_VAL
        )
        SELECT *
        FROM level_info JOIN order_info ON 1=1
    </select>


    <!-- 유저 등록 -->
    <insert id="insertUserByUser" parameterType="User">
        INSERT INTO USER_TBL
        VALUES (SEQ_USER_NO.NEXTVAL, #{userId}, #{userPw}, #{userName}, #{userNickName}, #{userEmail}, #{userPhone},
                SYSTIMESTAMP, 1, DEFAULT, DEFAULT, DEFAULT, DEFAULT)
    </insert>
    <insert id="insertUserByRole" parameterType="User">
        INSERT INTO ROLE_TBL (USER_NO, USER_ROLE)
        SELECT USER_NO, 'ROLE_USER'
        FROM USER_TBL
        WHERE USER_ID = #{userId}
    </insert>

    <!--   셀러 등록 -->
    <insert id="insertUserBySeller" parameterType="User">
        INSERT INTO USER_TBL
        VALUES (SEQ_USER_NO.NEXTVAL, #{userId}, #{userPw}, #{userName}, #{userNickName}, #{userEmail}, #{userPhone},
                SYSTIMESTAMP, 2, DEFAULT, DEFAULT, DEFAULT, DEFAULT)
    </insert>
    <insert id="insertSellerByRole" parameterType="User">
        INSERT INTO ROLE_TBL (USER_NO, USER_ROLE)
        SELECT USER_NO, 'ROLE_MANAGER'
        FROM USER_TBL
        WHERE USER_ID = #{userId}
    </insert>

	<!-- 해당 상품을 구매해서 배송을 받은 회원인지 여부 -->
	<select id="checkCustomer" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM USER_TBL
		JOIN ORDER_TBL USING (USER_NO)
		JOIN ORDER_DETAIL_TBL USING (ORDER_NO)
		WHERE PRODUCT_NO = #{productNo} AND ORDER_STATUS = 3
	</select>

</mapper>
