.middle{
    width: 100%;
    height: 135px;
    background-image: linear-gradient(180deg, #84fab0 0%, #8fd3f4 85%);
}
.middle-content{
    width: 1200px;
    margin: 0 auto;
}
.page-title{
    font-weight: 700;
    font-size: 38px;
    text-align: center;
}

.bottom{
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    margin-top: 30px;
}
.page-root{
    width: 100%;
    color: black;
    font-size: 12px;
    position: relative;
    top: 10px;
    left: 10px;
    height: 30px;
}
table.dataTable thead th{
    text-align: center;
}
td{
    text-align: center;
}
.able-btn{
    border: 1px solid #3DB35E;
    border-radius: 10px;
    color: #3DB35E;
    background-color: white;
}