<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>게시글 등록</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
		<link href="../../../static/css/community/board/register.css" rel="stylesheet">
	</head>
	<body>
        <div id="container">
            <header>
                헤더가 들어갈 자리입니다.
            </header>
            <main>
                <table id="fregister-header">
                    <tr>
                        <td colspan="2">
                            자유게시판
                        </td>
                    </tr>
                </table>
                
                <table id="fregister-main">
                    <tr>
                        <td>
                            <select>
                                <option value="">[말머리]</option>
                                <option value="잡담">[잡담]</option>
                                <option value="캠핑지">[캠핑지]</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" required placeholder="제목을 입력하세요.">
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <textarea name="" id="" required placeholder="내용을 입력하세요"></textarea>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <input type="text" placeholder="#해시태그">
                        </td>
                    </tr>
                </table>
                <table id="fregister-option">
                    <tr>
                        <td>
                            지도첨부 <input type="button" value="장소선택">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            사진첨부 <input type="file">
                        </td>
                    </tr>
                </table>
                <table id="fregister-photo">
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                    </tr>
                </table>
                <table id="fregister-footer">
                    <tr>
                        <td>
                            <input type="submit" value="등록">
                        </td>
                        <td>
                            <input type="reset" value="취소">
                        </td>
                    </tr>
                </table>
            </main>
            <footer>
                푸터가 들어갈 자리입니다.
            </footer>
        </div>
    </body>
</html>