.displayFlex /*정렬을 위한 display: flex*/ {
	display: flex;
}

/*세로 정렬*/
.hCenter {align-items: center;}
.hTop {align-items: flex-start;}
.hBottom {align-items: flex-end;}

/*가로 정렬*/
.wCenter {justify-content: center;}
.wRight {justify-content: flex-end;}
.wLeft {justify-content: flex-start;}

.board-list-a {
  text-decoration: none;
  color: black;
}