.displayFlex /*정렬을 위한 display: flex*/ {
	display: flex;
}

/*세로 정렬*/
.hCenter {align-items: center;}
.hTop {align-items: flex-start;}
.hBottom {align-items: flex-end;}

/*가로 정렬*/
.wCenter {justify-content: center;}
.wRight {justify-content: flex-end;}
.wLeft {justify-content: flex-start;}

#listContainer {
	width: 1000px;
	margin: auto;
	margin-top: 300px;
	margin-bottom: 200px;
}

#fList-head{
	width: 900px;
	height: 100px;
	margin-left: 50px;
	margin-right: 50px;
	font-size: 30px;
	color : black;
}


#flist-Nav {
	width: 900px;
	height: 50px;
	font-size: 20px;
	margin-left: 50px;
	margin-right: 50px;
	color : black;
}

#flistNav1, #flistNav2, #flistNav3 {
	height: 100%;
	float: left;
	color : black;
}

	#flistNav1 {
		width: 20%;
	}
	#flistNav1 a{
		color : black;
	}
	
	#flistNav2 {
		width: 40%;
		text-align: right;
	}
	
	#flistNav3 {
		width: 40%;
		text-align: right;
	}
	
#show-list-head, #show-list{
	width: 900px;
	height: 50px;
	font-size: 20px;
	margin-left: 50px;
	margin-right: 50px;
	color : black;
}

#show-list-head div{
	height: 50px;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
}
#show-list-head div button{
	width: 20px;
	height: 20px;
	border: 0;
	background-color:transparent;
	display: flex;
	align-items: center;
	justify-content: center;
}

#show-list div{
	height: 50px;
	float: left;
	display: flex;
	align-items: center;
}

#show-list div a{
	color : black;
}

#show-register-btn{
	width: 900px;
	height: 100px;
	font-size: 20px;
	margin-left: 50px;
	margin-right: 50px;
	color : black;
}

#show-register-btn div{
	height: 50px;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
}

#show-register-btn div a{
	color : black;
	padding-left : 15px;
	padding-right : 15px;
	border: 1px solid black;
}

#fboard-paging{
	width: 900px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#fboard-paging ul{
	display: flex;
	align-items: center;
	justify-content: center;
}

