<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>BariBari - 로그인</title>
            <link href="css/styles.css" rel="stylesheet" />
     <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/loginCss.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="js/login.js"></script>

</head>
<body class="bg-primary">
<div class="materialContainer">


    <div class="box">

        <div class="title">로그인</div>
    <form action="/loginProc" method="post">
        <div class="input">
            <label for="name">ID</label>
            <input type="text" name="userId" id="name">
            <span class="spin"></span>
        </div>

        <div class="input">
            <label for="pass">Password</label>
            <input type="password" name="userPw" id="pass">
            <span class="spin"></span>
        </div>

        <div class="button login">
            <button type="submit"><span>Login</span> <i class="fa fa-check"></i></button>
        </div>
    </form>
        <a href="/register" class="pass-forgot">회원가입</a>
        <a href="/find" class="pass-forgot">아이디나 비밀번호를 잊으셨나요?</a >

    </div>


</div>

<script th:inline="javascript" th:if="${error != null}">
    /*<![CDATA[*/
    window.onload = function () {
        var error = [[${error}]];
        if (error != null) {
            alert(error);
        }
    }
    /*]]>*/
</script>
<script th:inline="javascript" th:if="${errorMsg != null}">
    /*<![CDATA[*/
    window.onload = function () {
        var error = [[${errorMsg}]];
        if (error != null) {
            alert(error);
        }
    }
    /*]]>*/
</script>
<script th:inline="javascript"  sec:authorize-expr="isAuthenticated()">
    /*<![CDATA[*/
    window.onload = function () {
        location.href = '/';
    }
    /*]]>*/
</script>

</body>
</html>
