<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>회원가입</title>
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/registerCss.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="js/login.js"></script>
</head>
<body class="bg-primary">
<div class="materialContainer">

    <div class="box">

        <div class="select-user" onclick="location.href='registerUser'">
            <h3 class="select-letter">일반</h3>
        </div>

        <div class="select-seller" onclick="location.href='registerSeller'">
            <h3 class="select-letter">판매자</h3>
        </div>
    </div>

</div>
<script th:inline="javascript"  sec:authorize-expr="isAuthenticated()">
    /*<![CDATA[*/
    window.onload = function () {
        location.href = '/';
    }
    /*]]>*/
</script>
</body>
</html>
