<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>회원가입</title>
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/registerCss.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="js/login.js"></script>

</head>
<body class="bg-primary">
<div class="materialContainer">

    <div class="box">


        <div class="select-user">
        </div>


        <div class="select-seller">
        </div>


<!--        <form action="/register" method="post">-->

<!--        <div class="title">회원가입</div>-->

<!--        <div class="input">-->
<!--            <label for="name">ID</label>-->
<!--            <input type="text" name="id" id="name">-->
<!--            <span class="spin"></span>-->
<!--        </div>-->

<!--        <div class="input">-->
<!--            <label for="pass">Password</label>-->
<!--            <input type="password" name="pw" id="pass">-->
<!--            <span class="spin"></span>-->
<!--        </div>-->

<!--            <div class="input">-->
<!--                <label for="pass">Address</label>-->
<!--                <input type="password" name="pw" id="pass">-->
<!--                <span class="spin"></span>-->
<!--            </div>-->

<!--            <div class="input">-->
<!--                <label for="pass">Password</label>-->
<!--                <input type="password" name="pw" id="pass">-->
<!--                <span class="spin"></span>-->
<!--            </div>-->

<!--            <div class="input">-->
<!--                <label for="pass">Password</label>-->
<!--                <input type="password" name="pw" id="pass">-->
<!--                <span class="spin"></span>-->
<!--            </div>-->

<!--            <div class="input">-->
<!--                <label for="pass">Password</label>-->
<!--                <input type="password" name="pw" id="pass">-->
<!--                <span class="spin"></span>-->
<!--            </div>-->


<!--        <div class="button login">-->
<!--            <button><span>Login</span> <i class="fa fa-check"></i></button>-->
<!--        </div>-->

<!--        <div class="button">-->
<!--            <button type="submit"><span>NEXT</span></button>-->
<!--        </div>-->
<!--        </form>-->

<!--        <button-->
    </div>
    <div>
        <h3>일반</h3>
        <h3>판매자</h3>
    </div>

</div>

</body>
</html>
