.category-btn-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 열 */
  grid-template-rows: repeat(2, 1fr); /* 행 */
  gap: 10px; /* 버튼 사이의 간격 */
}

.category-btn {
  padding: 10px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  display: block; /* 줄바꿈을 위한 속성 추가 */
}