#ntcModify {
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    text-align: center;
    margin-top: 150px;
  }
  
  #ntcModify h1 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  #ntcModify label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
  }
  
  #ntcModify input[type="text"],
  #ntcModify textarea,
  #ntcModify select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  #ntcModify textarea {
    height: 300px;
  }
  
  #ntcModify button[type="submit"] {
    background-color: #081333;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #ntcModify button[type="submit"]:hover {
    background-color: #fff;
    border: 1px solid #081333;
    color : black;
  }
  
    #ntcModify button[type="reset"] {
    background-color: #081333;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #ntcModify button[type="reset"]:hover {
    background-color: #fff;
    border: 1px solid #081333;
    color : black;
  }
  
  