#noticedetailW {
    margin-top : 250px;
    background-color: #f8f9fa;
    font-family: 'IBM Plex Sans KR', sans-serif;
    color: #495057;
}
.container1 {
    width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
    --background-color: #fff;
    --border-radius: 10px;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header {
    padding: 30px 30px 0 30px;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h3 {
    font-size: 25px;
    margin: 0;
    margin-right: 10px;
    line-height: 1.2;
}
.author {
    font-size: 14px;
    color: #999;
    margin-right: 10px;
}
.date {
    font-size: 14px;
    color: #999;
}
.content {
    padding: 20px;
    font-size: 15px;
    line-height: 1.8;
}
.btns {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}
.btn {
    padding: 2px 7px;
    background-color: #fff;
    border: 0.5px solid #081333;
    color: #081333;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    transition: all 0.2s ease;
}
.btn:hover {
    background-color: #081333;
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.btn:last-child {
    margin-right: 0;
}

.container2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
  }
  
  .prev-next {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .prev-next a{
    text-decoration: none;
    color: black;
  }
  
  .prev-next .prev,
  .prev-next .next {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .prev-next .prev .title,
  .prev-next .next .title {
    margin-left: 10px;
  }
  
