<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>BARIBARI</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<!-- Fontawesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
	<!-- Bootstrap icons-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="../../css/shopping/style.css" rel="stylesheet" />
	<!-- IBM Plex Sans KR font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap" rel="stylesheet">
	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Template Main CSS File -->
	<link href="../../assets/css/style.css" rel="stylesheet">
	<link href="../../assets/vendor/animate.css/animate.min.css" rel="stylesheet">
	<link href="../../assets/vendor/aos/aos.css" rel="stylesheet">
	<link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="../../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
	<link href="../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
	<link href="../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
	<!-- JQuery JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

	<link href="../../css/shopping/shopping.css" rel="stylesheet" />
</head>

<body>
	<!-- Header -->
	<header th:replace="header :: header"></header>

	<section style="margin-top: 110px;">
		<!-- 상단 이미지 -->
		<div class="bg-dark py-5">
			<div class="container px-4 px-lg-5 my-5">
				<div class="text-center text-white">
					쇼핑몰 메인사진이 들어가는 위치
				</div>
			</div>
		</div>

		<input sec:authorize="!isAuthenticated()" value="0" type="hidden" name="userNo">
		<input sec:authorize="isAuthenticated()" th:value="${#authentication.principal.user.userNo}" type="hidden" name="userNo">

		<!-- 상품 분류 -->
		<form action="/shopping/list" method="get">
			<div class="category-btn-container px-4 px-lg-5 my-5">
				<!-- 1열 -->
				<button class="category-btn" name="category" value="텐트">텐트</button>
				<button class="category-btn" name="category" value="타프">타프</button>
				<button class="category-btn" name="category" value="가구">가구</button>
				<button class="category-btn" name="category" value="침구">침구</button>
				<button class="category-btn" name="category" value="주방">주방</button>
				<!-- 2열 -->
				<button class="category-btn" name="category" value="BBQ">BBQ</button>
				<button class="category-btn" name="category" value="조명">조명</button>
				<button class="category-btn" name="category" value="수납">수납</button>
				<button class="category-btn" name="category" value="공구">공구</button>
				<button class="category-btn" name="category" value="소품">소품</button>
			</div>
		</form>

		<!-- 상품 목록 -->
		<div class="container px-4 px-lg-5 mt-5">
			<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-4 row-cols-xl-5 justify-content-center">
			
				<!-- 상품이 없을 경우 -->
				<div th:if="${pCount == 0}" class="col full-width text-center">
					<h1>상품을 찾을 수 없습니다.</h1>
				</div>
				
				<!-- 상품이 있을 경우 -->
				<div th:each="product : ${pList}" class="col mt-5">
					<!-- 상품 카드 -->
					<div class="card h-100">
						<!-- Sale 뱃지, productDiscount가 있으면 Sale 뱃지 출력 -->
						<div th:if="${product != null and product.productDiscount != 0}" class="badge bg-baribari text-black position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
						<!-- 상품 사진 -->
						<img th:src="@{${product.productPic1} != null} ? @{${product.productPic1}} : @{'../../img/logo.png'}" class="card-img-top" alt="제품사진" style="width: 100%; height: auto; aspect-ratio: 1/1; object-fit: contain;" />

						<!-- 상품 내용 -->
						<a th:href="@{'/shopping/detail?productNo=' + ${product.productNo}}">
							<div class="card-body p-4">
								<div class="text-center">
									<!-- 상품명 -->
									<h5 th:text="${product.productName}" class="fw-bolder">상품명</h5>
									<!-- 상품가, productDiscount가 있으면 정가에 취소선/할인가 출력 -->
									<span th:if="${product != null and product.productDiscount == 0}" th:text="|${#numbers.formatInteger(product.productPrice, 0, 'COMMA')}원|">상품가격</span>
									<span th:if="${product != null and product.productDiscount != 0}" th:text="|${#numbers.formatInteger(product.productPrice, 0, 'COMMA')}원|" class="text-muted text-decoration-line-through">상품가격 취소선</span><br>
									<span th:if="${product != null and product.productDiscount != 0}" th:text="|${#numbers.formatInteger(product.productPrice - product.productDiscount * product.productPrice / 100, 0, 'COMMA')}원|">할인된 가격</span>
								</div>
							</div>
						</a>

						</th:block>
						<!-- 찜하기/장바구니 버튼 -->
						<div sec:authorize="hasRole('ROLE_USER')" class="card-footer p-4 pt-0 border-top-0 bg-transparent">
							<!-- fList에서 해당 Product의 productNo와 일치하는 값 찾기 -->
							<div th:each="favorite : ${fList}">
								<div th:if="${favorite.productNo == product.productNo AND favorite.userNo == #authentication.principal.user.userNo}">
									<span th:with="favoriteProduct=${true}"></span>
								</div>
							</div>
						
							<div class="text-center">
								<a class="btn btn-outline-dark mt-auto" href="#">
									<i th:if="${favoriteProduct}" class="fas fa-heart" style="color: red;"></i>
									<i th:unless="${favoriteProduct}" class="fas fa-heart"></i>
								</a>
								<a class="btn btn-outline-dark mt-auto" href="#">
									<i class="fas fa-shopping-cart"></i>
								</a>
							</div>
						</div>

						<!-- 체크박스 -->
						<div sec:authorize="hasRole('ROLE_ADMIN')" class="card-footer p-4 pt-0 border-top-0 bg-transparent">
							<a class="btn btn-outline-dark mt-auto" href="#">
								<i class="fas md-recommend">MD추천</i>
							</a>
						</div>
					</div>
					
				</div>
			</div>
		</div>

		<!-- 페이징 네비게이션 -->
		<div class="container px-4 px-lg-5 mt-5">
			<nav class="col md-12">
				<ul th:if="${pi.totalCount > 0}" class="pagination">
					<!-- 첫 페이지 버튼 -->
					<li th:if="${pi.currentPage > 1}" class="page-item">
						<a th:href="@{/shopping/list?(page=1)}" class="page-link">
							<i class="fas fa-angle-double-left"></i>
						</a>
					</li>
					<!-- 이전 페이지 버튼 -->
					<li th:if="${pi.currentPage > 1}" class="page-item">
						<a th:href="@{/shopping/list?(page=${pi.currentPage} - 1)}" class="page-link">
							<i class="fas fa-angle-left"></i>
						</a>
					</li>
					<!-- 페이지 번호 버튼 -->
					<li th:each="page : ${#numbers.sequence(pi.startNav, pi.endNav)}"
						th:class="${page == pi.currentPage} ? 'active' : ''">
						<a th:href="@{/shopping/list(page=${page})}" th:text="${page}" class="page-link"></a>
					</li>
					<!-- 다음 페이지 버튼 -->
					<li th:if="${pi.currentPage < pi.navTotalCount}" class="page-item">
						<a th:href="@{/shopping/list?(page=${pi.currentPage} + 1)}" class="page-link">
							<i class="fas fa-angle-right"></i>
						</a>
					</li>
					<!-- 마지막 페이지 버튼 -->
					<li th:if="${pi.currentPage < pi.navTotalCount}" class="page-item">
						<a th:href="@{/shopping/list?(page=${pi.navTotalCount})}" class="page-link">
							<i class="fas fa-angle-double-right"></i>
						</a>
					</li>
				</ul>
			</nav>
		</div>

	</section>

	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script src="../js/user/user-address.js"></script>
	<script>
		const categoryBtns = document.querySelectorAll('.category-btn');
	
		categoryBtns.forEach(btn => {
		  btn.addEventListener('click', (event) => {
		    const category = event.target.value;
		    if (category === '[[${param.category}]]') {
		      event.preventDefault(); // 이벤트 기본 동작 막기
		      window.location.href = "/shopping/list";
		    }
		  });
		});

		var userNo = document.querySelector('input[name="userNo"]').value;

		/* 찜하기 */
		$(document).ready(function () {
			$('body').on('click', '.fa-heart', function (event) {
				event.preventDefault();
				var productNo = $(this).closest('.card').find('a').attr('href').split("=")[1];
				console.log(productNo + ", " + userNo);
				$.ajax({
					url: "/shopping/scrap/add",
					data: {
						"productNo": productNo,
						"userNo": userNo
					},
					type: "POST",
					success: function (result) {
						if (result == "1") {
							alert("찜하기 완료");
						} else {
							alert("찜하기 실패");
							console.log(result);
						}
					},
					error: function () {
						alert("실패");
					}
				});
			});
		});

		/* 장바구니에 추가 */
		$(document).ready(function () {
			$('body').on('click', '.fa-shopping-cart', function (event) {
				event.preventDefault();
				var productNo = $(this).closest('.card').find('a').attr('href').split("=")[1];
				confirm('해당 상품을 장바구니에 추가하시겠습니까?');
				$.post("/cart/add", {
					userNo: userNo,
					productNo: productNo,
					productQuantity: 1
				}, function (result) {
					if (result == "1") {
						alert('장바구니에 추가되었습니다.');
					} else {
						alert('장바구니 등록 실패');
					}
				});
			});
		});
		
		/* MD 추천상품 추가/삭제 */
		$(document).ready(function (){
			$('body').on('click', '.md-recommend', function (event) {
				event.preventDefault();
				var productNo = $(this).closest('.card').find('a').attr('href').split("=")[1];
				confirm('해당 상품을 MD추천 상품으로 추가하시겠습니까?');
				$.post("/shopping/addMdRecommend", {
					productNo: productNo
				}, function (result) {
					if (result == "1") {
						alert('MD 추천이 완료 되었습니다.');
					} else {
						alert('MD 추천 실패');
					}
				});
			});
		});
	</script>

	<!-- Footer -->
	<footer th:replace="footer :: footer"></footer>
</body>

</html>