<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="" />
		<meta name="author" content="" />

		<title>BARIBARI</title>

		<!-- JQuery JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	
		<!-- Favicon-->
		<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
		<!-- Fontawesome -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
		<!-- Bootstrap Style -->
	 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<!-- Bootstrap icons-->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
		<!-- Core theme CSS (includes Bootstrap)-->
		<link href="../../../css/shopping/style.css" rel="stylesheet" />
		<!-- IBM Plex Sans KR font -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap" rel="stylesheet">
		<!-- Template Main CSS File -->
		<link href="../../assets/css/style.css" rel="stylesheet">
	
		<link href="../../css/shopping/cart.css" rel="stylesheet" />
</head>
<body>
	<!-- Header -->
	<header th:replace="header :: header"></header>
	
	<section class="shopping-cart dark" style="margin-top: 110px;">
		 	<!-- 상단 이미지 -->
			<div class="bg-dark py-5">
					<div class="container px-4 px-lg-5 my-5">
				<div class="text-center text-white">
						사진이 들어가는 위치
				</div>
					</div>
			</div>
			
		<div class="container">
			<div class="block-heading">
				<h2>주문 결제</h2>
		    </div>
				<div class="content">
				<div class="row">
					<div class="col-md-12 col-lg-8">
						<div class="col-md-12 items">
							배송정보
							<button>배송지목록</button>
							<hr>
							<form>
								<label>
									<input type="radio" name="deliveryOption" value="default" checked>기본배송지
								</label>
								<label>
									<input type="radio" name="deliveryOption" value="direct" id="directInput">직접입력
								</label>
								<div id="deliveryInfoDiv">
									<span th:text="${user.userName}">이름</span><br>
									<span th:text="${aList[0].addressZipCode}">우편번호</span><br>
									<span th:text="${aList[0].addressJibun}">기본 주소</span><br>
									<span th:text="${aList[0].addressJibunDetail}">상세 주소</span><br>
									<span th:text="${aList[0].addressPhone}">전화번호</span>
								</div>
								<br>
								<div id="inputField">
									<input type="text" placeholder="받는 사람"><br>
									<input type="text" placeholder="우편번호"><br>
									<input type="text" class="address-zip" name="addressZipCode" readonly><button type="button" class="address-post-btn" onclick="findAddress();">우편번호 찾기</button><br>
									<input type="text" class="address-input address-jibun" name="addressJibun" readonly><br>
									<input type="text" class="address-input" name="addressJibunDetail"><br>
									<input type="text" placeholder="상세 주소"><br>
									<input type="text" placeholder="전화 번호"><br>
								</div>
							</form>
							주문상품<br>
							상품수량 및 옵션변경은 상품상세 또는 장바구니에서 가능합니다.
							<!-- 상품 목록 -->

				 				
			 			</div>
		 			</div>
		 			
		 			<!-- 가격/결제 -->
		 			<div class="col-md-12 col-lg-4" style="border-left: 1px solid #ccc;">
		 				<div class="product" th:each="cart: ${cList}">
		 					<div class="row">
		 						<!-- 상품 사진 -->
			 					<div class="col-md-3">
			 						<img th:src="@{'../../../img/logo.png'}" class="card-img-top" alt="제품사진" />
			 					</div>
			 					<div class="col-md-8">
			 						<div class="info">
				 						<div class="row" style="width: 90%; margin: 0 auto;">
			 								<!-- 상품명 -->
					 						<div class="col-md-12 product-name">
						 						<a th:href="@{'/shopping/detail?productNo=' + ${cart.productNo}}"	th:text="${cart.productName}"></a>
					 						</div>
					 						<!-- 상품가, productDiscount가 있으면 정가에 취소선/할인가 출력 -->
					 						<div class="col-md-12">
					 							<span th:if="${cart.productDiscount == 0}" th:text="|${#numbers.formatInteger(cart.productPrice * cart.productQuantity, 0, 'COMMA')}원|" id="price">상품가격</span>
												<span th:if="${cart.productDiscount != 0}" th:text="|${#numbers.formatInteger(cart.productQuantity * cart.productPrice - cart.productQuantity * cart.productDiscount * cart.productPrice / 100, 0, 'COMMA')}원|" id="price">할인된 가격</span>
												/ <span th:text="${cart.productQuantity}" id="quantity" class="quantity-input"></span>개
					 						</div>
					 						<div class="col-md-12">
												배송비 <span th:text="|${#numbers.formatInteger(cart.productDeliveryCharge, 0, 'COMMA')}원|" id="delivery-charge"></span>
											</div>
					 					</div>
					 				</div>
			 					</div>
			 				</div>
		 				</div>
		 				<div class="summary summary-order">
		 					<h3>가격</h3>
		 					<div class="summary-item"><span class="text">상품 가격</span><span id="total-price" class="price">상품 가격</span></div>
		 					<div class="summary-item"><span class="text">총 할인</span><span id="total-discount" class="price">할인</span></div>
		 					<div class="summary-item"><span class="text">배송비</span><span id="total-delivery-charge" class="price">총 배송비</span></div>
		 					<div class="summary-item"><span class="text">결제 금액</span><span id="total-payment-price" class="price">결제 금액</span></div>
		 					<button type="button" class="btn btn-primary btn-lg btn-block">결제하기</button>
			 			</div>
		 			</div>
		 			
				</div>	 			
	 		</div>
		</div>
	</section>
	
	<!-- Footer -->
	<footer th:replace="footer :: footer"></footer>
	
	<script>
		const deliveryOptionRadio = document.getElementsByName("deliveryOption");
		const inputFieldDiv = document.getElementById("inputField");
		
		function handleDeliveryOptionChange() {
			if (deliveryOptionRadio[0].checked) {
				inputFieldDiv.style.display = "none";
				document.querySelector("#deliveryInfoDiv").style.display = "block";
			} else if (deliveryOptionRadio[1].checked) {
				inputFieldDiv.style.display = "block";
				document.querySelector("#deliveryInfoDiv").style.display = "none";
			}
		}
		
		window.onload = function () {
			inputFieldDiv.style.display = "none";
			deliveryOptionRadio[0].checked = true;
			document.querySelector("#deliveryInfoDiv").style.display = "block";
		};
		
		for (let i = 0; i < deliveryOptionRadio.length; i++) {
			deliveryOptionRadio[i].addEventListener("click", handleDeliveryOptionChange);
		}
		
		// 버튼 클릭 이벤트
		function handleButtonClick() {
			// user와 aList를 URL 매개변수로 전달할 문자열 생성
			const params = new URLSearchParams();
			params.append("userName", user.userName);
			params.append("addressZipCode", aList[0].addressZipCode);
			params.append("addressJibun", aList[0].addressJibun);
			params.append("addressJibunDetail", aList[0].addressJibunDetail);
			params.append("addressPhone", aList[0].addressPhone);
			
			// 새 창 열기
			const url = "새 창에 열 URL"; // 수정 필요
			const newWindow = window.open(url + "?" + params.toString(), "_blank");
		}
		
		// 버튼 요소 가져오기
		const button = document.querySelector("button");
		
		// 버튼에 이벤트 핸들러 등록
		button.addEventListener("click", handleButtonClick);
		
		// 각 상품 결제 가격
		const prices = document.querySelectorAll('#price');
		const deliveryCharges = document.querySelectorAll('#delivery-charge');
		let totalPrice = 0;
		let totalDiscount = 0;
		let totalDeliveryCharge = 0;
		prices.forEach(price => {
		    totalPrice += parseInt(price.innerText.replace(/[^0-9]/g, ''));
		});
		deliveryCharges.forEach(deliveryCharge => {
		    totalDeliveryCharge += parseInt(deliveryCharge.innerText.replace(/[^0-9]/g, ''));
		});

		const totalPaymentPrice = totalPrice - totalDiscount + totalDeliveryCharge;
		document.querySelector('#total-price').innerText = totalPrice.toLocaleString() + ' 원';
		document.querySelector('#total-delivery-charge').innerText = totalDeliveryCharge.toLocaleString() + ' 원';
		document.querySelector('#total-payment-price').innerText = totalPaymentPrice.toLocaleString() + ' 원';

		
		function removeAddress(addressNo){
		    console.log(addressNo);
		    $.ajax({
		        url:'/ajaxRemoveAddress',
		        type:'post',
		        data:{
		            'addressNo' : addressNo
		        },
		        success:function(){
		            alert("삭제했어요!");
		            location.replace(location.href);
		        },
		        error:function(data){
		            console.log(data);
		        }
		    })
		}
		function stringJoin(){
		    var phone = $('#phone1-address').val() + '-' + $('#phone2-address').val() + '-' + $('#phone3-address').val();
		    $('#address-phone').val(phone);
		}
		function findAddress(){
		    new daum.Postcode({
		        oncomplete: function(data) {
		            console.log(data);
		            $('.address-zip').val(data.zonecode);
		            if(data.jibunAddress == ""){
		                $('.address-jibun').val(data.autoJibunAddress + " " + data.buildingName);
		            }else {
		                $('.address-jibun').val(data.jibunAddress + " " + data.buildingName);
		            }
		        }
		    }).open();
		}

		function modalActive(){
		    $('.address-add-modal').addClass('modal-active');
		    $('.modal-back').addClass('modal-back-active');
		    $('.modal-close-btn').addClass('modal-close-btn-active');
		}

		function modalRemove(){
		    $('.address-add-modal').removeClass('modal-active');
		    $('.modal-back').removeClass('modal-back-active')
		    $('.modal-close-btn').removeClass('modal-close-btn-active');
		}
	</script>

</body>
</html>