<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>BARIBARI</title>
    
   	<!-- JQuery JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<!-- Fancybox JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
	
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../../css/shopping/style.css" rel="stylesheet" />
    <!-- IBM Plex Sans KR font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../../css/shopping/noticelist.css">
    <link href="../../assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="../../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="../../assets/css/style.css" rel="stylesheet">
    
    <link href="../../css/shopping/shopping.css" rel="stylesheet" />

    <title>BARIBARI</title>
</head>

<body>
	<!-- Header -->
	<header th:replace="header :: header"></header>
	
	<section style="margin-top: 110px;">
	
	<input sec:authorize="!isAuthenticated()" value="0" type="hidden" name="userNo">
	<input sec:authorize="isAuthenticated()" th:value="${#authentication.principal.user.userNo}" type="hidden" name="userNo">

	<form action="/shopping/registerProduct" method="post" enctype="multipart/form-data">
		<input type="hidden" name="sellerUserNo" th:value="${#authentication.principal.user.userNo}">
		상품분류:
		<select name="productCategory" required>
			<option>선택하세요</option>
			<option value="텐트">텐트</option>
			<option value="타프">타프</option>
			<option value="가구">가구</option>
			<option value="침구">침구</option>
			<option value="주방">주방</option>
			<option value="BBQ">BBQ</option>
			<option value="조명">조명</option>
			<option value="수납">수납</option>
			<option value="공구">공구</option>
			<option value="소품">소품</option>
			<option value="기타">기타</option>
		</select>
		<br>
		브랜드: <input name="productBrand"><br>
		상품명: <input name="productName"><br>
		상품가격: <input name="productPrice"><br>
		할인율: <input name="productDiscount">%<br>
		배송비: <input name="productDeliveryCharge"><br>
		해시태그: <input name="productHashTag"><br>
		상품내용: <textarea name="productContent"></textarea><Br>
		메인사진 등록: <input type="file" id="photoInput1" accept="image/*" name="mainImg"><br>
		<div id="mainImgPreview"></div>
		상품설명사진 등록: <input type="file" id="photoInput2" accept="image/*" name="descriptionImgs" multiple>
		<div id="imgPreview"></div>
		<button>등록</button> 
	</form>
	</section>
	
	<!-- Footer -->
	<footer th:replace="footer :: footer"></footer>
	
	<script>
		/* Fancybox: 사진 확대를 위한 라이브러리 (jQuery Plugin) */
		$(document).ready(function () {
			$(".fancybox").fancybox({
				buttons: ["zoom", "slideShow", "fullScreen", "close"],
				transitionEffect: "slide",
				transitionDuration: 500,
				loop: true,
				margin: [50, 50]
			});
		});	
		/* 사진 미리보기 */
		document.querySelector("#photoInput1").addEventListener("change", function() {
		    var fileList = this.files;
		    var imgPreview = document.querySelector("#mainImgPreview");
		    imgPreview.innerHTML = "";
		    for (var i = 0; i < fileList.length; i++) {
		        var file = fileList[i];
		        var reader = new FileReader();
		        reader.onload = function(event) {
		            var img = document.createElement("img");
		            img.setAttribute("src", event.target.result);
		            var imgPreviewItem = document.createElement("div");
		            imgPreviewItem.classList.add("img-preview");
		            imgPreviewItem.appendChild(img);
		            imgPreview.appendChild(imgPreviewItem);
		        };
		        reader.readAsDataURL(file);
		    }
		});
		document.querySelector("#photoInput2").addEventListener("change", function() {
		    var fileList = this.files;
		    var imgPreview = document.querySelector("#imgPreview");
		    imgPreview.innerHTML = "";
		    for (var i = 0; i < fileList.length; i++) {
		        var file = fileList[i];
		        var reader = new FileReader();
		        reader.onload = function(event) {
		            var img = document.createElement("img");
		            img.setAttribute("src", event.target.result);
		            var imgPreviewItem = document.createElement("div");
		            imgPreviewItem.classList.add("img-preview");
		            imgPreviewItem.appendChild(img);
		            imgPreview.appendChild(imgPreviewItem);
		        };
		        reader.readAsDataURL(file);
		    }
		});
	</script>
</body>

</html>