<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BARIBARI-메세지</title>
    <link rel="stylesheet" href="../css/message/Message.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>
<h3>보낸쪽지</h3>
<ul class="message-list-ul">
    <li class="message-list-li"><a href="/message">받은쪽지</a></li>
    <li class="message-list-li"><a href="/messageSend">보낸쪽지</a></li>
    <li class="message-list-li"><a href="/messageWrite">쪽지쓰기</a></li>
</ul>

<ul th:if="${!messageList.isEmpty()}">
    <li class="msg-box-li" th:each="msg : ${messageList}">
        <div>
            <div class="msg-box" th:onclick="'msgOpen('+${msg.messageNo}+')'">
                <div>
                    <span class="user-title">받은사람</span><span class="user" th:text="${msg.userNickname}"></span>
                    <span th:if="${msg.messageOpenYn == 0}" class="new-tag">아직 읽지 않음</span>
                </div>
                <div><span class="msg-date" th:text="${msg.messageDate}"></span></div>
            </div>
            <div class="msg-content" th:id="${msg.messageNo}">
                <span th:text="${msg.messageContent}"></span>
            </div>
        </div>
    </li>
</ul>
<div class="no-message" th:if="${messageList.isEmpty()}">
    <span>보낸 메시지가 없어요!</span>
</div>
<script>

    function msgOpen(messageNo) {
            $('.msg-content').removeClass('msg-content-active');
            $('#' + messageNo).addClass('msg-content-active');
    }

</script>
</body>
</html>